IoT/Meereen.wsdl

<?xml version ='1.0' encoding ='UTF-8' ?>
<definitions name='Meereen'
  targetNamespace='http://temp.meereen.ddns.net/Meereen'
  xmlns:tns='http://temp.meereen.ddns.net/Meereen'
  xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
  xmlns:xsd='http://www.w3.org/2001/XMLSchema'
  xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/'
  xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'
  xmlns='http://schemas.xmlsoap.org/wsdl/'> 

<message name='bookRequest'>
  <part name='message_from_raven' type='xsd:string'/>
</message>
<message name='bookResponse'>
  <part name='Result' type='xsd:string'/>
</message>

<message name='getRavenResponseRequest'>
  <part name='ravenID' type='xsd:int' />
</message>
<message name="getRavenResponseResponse">
  <part name="Result" type="xsd:string" />
</message>

<portType name='bookPortType'>
  <operation name='bookMsg'>
    <input message='tns:bookRequest'/>
    <output message='tns:bookResponse'/>
  </operation>
</portType> 

<portType name="getRavenResponsePortType">
  <operation name="getRavenResponse">
    <input message="tns:getRavenResponseRequest" />
    <output message="tns:getRavenResponseResponse" />
  </operation>
</portType>

<binding name='bookBinding' type='tns:bookPortType'>
  <soap:binding style='rpc'
    transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='bookMsg'>
    <soap:operation soapAction='urn:Meereen#bookMsg'/>
    <input>
      <soap:body use='encoded' namespace='urn:Meereen'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </input>
    <output>
      <soap:body use='encoded' namespace='urn:Meereen'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </output>
  </operation>
</binding> 

<binding name="getRavenResponseBinding" type="tns:getRavenResponsePortType">
  <soap:binding style='rpc'
    transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name="getRavenResponse">
    <soap:operation soapAction="urn:Meereen#getRavenResponse" />
    <input>
      <soap:body use='encoded' namespace='urn:Meereen'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </input>
    <output>
      <soap:body use='encoded' namespace='urn:Meereen'
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </output>
  </operation>
</binding>

<service name='MeereenService'>
  <port name='bookPort' binding='tns:bookBinding'>
    <soap:address location='https://meereen.ddns.net/IoT/Meereen.php'/>
  </port>
  <port name="getRavenResponsePort" binding="tns:getRavenResponseBinding">
    <soap:address location='https://meereen.ddns.net/IoT/Meereen.php'/>
  </port>
</service>
</definitions>