GartenDigital.vs/WebServiceTest.Cons/Service References/Meereen/Meereen1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://temp.meereen.ddns.net/Meereen" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="Meereen" targetNamespace="http://temp.meereen.ddns.net/Meereen" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types />
  <wsdl:message name="bookRequest">
    <wsdl:part name="message_from_raven" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="bookResponse">
    <wsdl:part name="Result" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getRavenResponseRequest">
    <wsdl:part name="ravenID" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getRavenResponseResponse">
    <wsdl:part name="Result" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="bookPortType">
    <wsdl:operation name="bookMsg">
      <wsdl:input message="tns:bookRequest" />
      <wsdl:output message="tns:bookResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="getRavenResponsePortType">
    <wsdl:operation name="getRavenResponse">
      <wsdl:input message="tns:getRavenResponseRequest" />
      <wsdl:output message="tns:getRavenResponseResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="bookBinding" type="tns:bookPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="bookMsg">
      <soap:operation soapAction="urn:Meereen#bookMsg" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Meereen" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Meereen" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="getRavenResponseBinding" type="tns:getRavenResponsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getRavenResponse">
      <soap:operation soapAction="urn:Meereen#getRavenResponse" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Meereen" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Meereen" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MeereenService">
    <wsdl:port name="bookPort" binding="tns:bookBinding">
      <soap:address location="http://meereen.ddns.net/IoT/Meereen.php" />
    </wsdl:port>
    <wsdl:port name="getRavenResponsePort" binding="tns:getRavenResponseBinding">
      <soap:address location="http://meereen.ddns.net/IoT/Meereen.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>